name: "Release Docker Container"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Docker Hub Login
      uses: ./github/actions/dockerhub-login
      with:
        dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
        dockerhub_password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Image
      run: docker build -t iamridoydey/express-todo-server:latest .

    - name: Push Docker Image
      run: docker push iamridoydey/express-todo-server:latest
